{% extends "base.html" %}
{% load i18n %}
{% load subdomainurls %}
{% block content %}
{% load markdown_deux_tags %}

{% if query %}
    <h3>{% trans 'Results' %}</h3>
    {% for result in page %}
        <div class="search_result">
            {% if result.subject %}
                {% include 'nuntium/message/message_in_list.html' with message=result %}
            {% else %}
                {% include 'nuntium/answer/answer_in_list.html' with answer=result %}
            {% endif %}
        </div>
    {% empty %}
        <p>{% trans 'No results found.' %}</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}

{% endblock content %}

{% block search_form %}
<form class="navbar-form navbar-right" method="get" role="form">
    <div class="form-group">
        <label class="sr-only" for="id_q">{% trans 'Search within messages' %}</label>
        <input type="text" class="form-control" name="q" id="id_q" placeholder="{% trans 'Search within messages' %}" value="{{ query }}">
    </div>
    <button type="submit" class="btn btn-success">{% trans 'Search' %}</button>
</form>
{% endblock search_form %}
